*.log
uart
vsim.wlf
transcript
ncompile/ips*
ncompile/rtl*
ncompile/src*
work/
flist/
CORE*.txt
fs/
modelsim_libs
xcelium.d/
obj_dir/
vpms
simv
simv.daidir/
csrc/
ucli.key
verdiLog
verdi_config_file
inter.fsdb
novas.conf
novas.rc
vc_hdrs.h
