*.bin
*.bit
*.jou
*.log
*.cache/
*.hw/
*.runs/
*.srcs
*.ip_user_files
*.Xil
*/reports
*.xpr
*/ips/xilinx_slow_clk_mngr/ip/
*/ips/xilinx_clk_mngr/ip/
*/ips/xilinx_interleaved_ram/ip/
*/ips/xilinx_private_ram/ip/
*/ips/xilinx_private_ram/ip/
gen/
